@model ADManager.Models.UserModel

@{
    ViewBag.Title = "创建账户";
}

<h2>创建账户</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>用户账户</legend>
        <table>
            <tr>
                <td>@Html.LabelFor(model => model.Account)*</td>
                <td>@Html.EditorFor(model => model.Account)</td>
                <td>@Html.ValidationMessageFor(model => model.Account)</td>
            </tr>
            @Html.Partial("_Form", Model)
        </table>
        <p>
            <input type="submit" value="创建" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("返回列表", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
